[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"

[packages]
django = "*"
heroku = "*"
gunicorn = "*"
update = "*"
pytest-django = "*"
pytest = "*"
python-decouple = "*"

[requires]
python_version = "3.8"
